<form method="POST" action="{% url 'Edit' %}" class="edit_popup">{% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white !important; opacity:1;">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Edit SKU</h4>
  </div>
  <div class="modal-body">
<div class="form-group row" style="margin-left:0 auto 0;">
<div class="col-xs-1" style="width:25%;">
<label>SKU</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.SKU }}
{{ form.SKU.errors }}
</div></div>

<div class="col-xs-1" style="width:25%;">
<label>Model</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.model }}
{{ form.model.errors }}
</div></div>

<div class="col-xs-1"style="width:25%;">
<label>Variant</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.variant }}
{{ form.variant.errors }}
</div></div>

<div class="col-xs-1" style="width:25%;">
<label>Color</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.color }}
{{ form.color.errors }}
</div></div>
</div>

<div class="form-group row" style="margin-left:0 auto 0;">
<div class="col-xs-1" style="width:25%;">
<label>Tank</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.tank }}
{{ form.tank.errors }}
</div></div>

<div class="col-xs-1" style="width:25%;">
<label>Time</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.time }}
{{ form.time.errors }}
</div></div>

<div class="col-xs-1" style="width:25%;">
<label>Additional</label>
{{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.description }}
{{ form.description.errors }}
</div></div>
<div class="col-xs-1" style="width:25%; padding:15px 0px 0px 20px;">
<button type="submit" class="btn-sub">Update</button>
</div>
</div>
<div class="modal-footer">
</div>
</form>
