{% extends 'app/base.html' %}
{% block content %}
<head>
  <style>
.bar{
width:100%;
height:auto;
padding-top: 10px;
}
.heading{
width:20%;
height:auto;
margin:0 auto 0;
font-size: 30px;
font-weight: bold;
color: white;
}
.ccontainer{
margin-top: 35px;
width:100%;
height:auto;
}
.cform{
background-color: #416E8B;
margin:0 auto 0;
width:80%;
height: auto;
color: #EEEEEE !important;
padding: 18px;
text-align: left;
border-radius: 2px;
font-size:16px;
}
.table-wrapper-2 {
display: block;
max-height: 300px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
.cbutton{
width:auto;
padding-left:1% ;
padding-right: 1%;
background-color:#C0C0C0;
color:black;
margin-left:92%;
  }
</style>
</head>

<!--Heading-->
<div class="bar">
<div class="heading">
SKU  Configuration
</div>
</div>
<!--End of Heading-->

<!--Start of Form-->
<div class="ccontainer">
<div class="cform">
     <form method="POST">{% csrf_token %}
     <div class="form-group row" style="margin-left:0 auto 0;">
       <div class="col-xs-2">
         <label>Enter SKU</label>
         {{ form.non_field_errors }}
         <div class="fieldWrapper">
         {{ form.SKU.errors }}
         {{ form.SKU }}
       </div>
       </div>
         <div class="col-xs-2">
           <label>Quantity</label>
           {{ form.non_field_errors }}
           <div class="fieldWrapper">
           {{ form.quantity.errors }}
           {{ form.quantity }}
         </div>
       </div></div>
       <div class="row">
       <div class="col-xs-2">
         <label>Constraints</label>
         {{ form.non_field_errors }}
         <div class="fieldWrapper">
         {{ form.constraints.errors }}
         {{ form.constraints }}
       </div>
     </div>
     </div>
<button type="submit" class="btn cbutton">Add New</button>
</form>
</div>
<!--End of form-->
<!--Start of Table-->
            {% endblock %}
            {% block javascript %}
<script>
var model;
var variant;
var color;

$("#id_SKU").change(function () {
  sku = $(this).val();  // get the selected country ID from the HTML input
  $.ajax({                       // initialize an AJAX request
    url: '/ajax/populate/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {'sku': sku      // add the country id to the GET parameters
    },
    success: function (data) {
      console.log(data)  // `data` is the return of the `load_cities` view function
      $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
}});});

  $("#id_model").change(function () {
    model = $(this).val();  // get the selected country ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: '/ajax/populate_variant/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {'model': model       // add the country id to the GET parameters
      },
      success: function (data) {
        console.log(data)  // `data` is the return of the `load_cities` view function
        $("#id_variant").html(data);  // replace the contents of the city input with the data that came from the server
}});});

$("#id_variant").change(function () {
  variant = $(this).val();  // get the selected country ID from the HTML input
$.ajax({                       // initialize an AJAX request
url: '/ajax/populate_color/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
data: {'model': model,
       'variant': variant,     // add the country id to the GET parameters
},
success: function (data) {
console.log(data)  // `data` is the return of the `load_cities` view function
$("#id_color").html(data);  // replace the contents of the city input with the data that came from the server
}});});

$("#id_color").change(function () {
  color = $(this).val();  // get the selected country ID from the HTML input
$.ajax({                       // initialize an AJAX request
url: '/ajax/populate_tank/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
data: {'model': model,
       'variant': variant,
       'color': color,     // add the country id to the GET parameters
},
success: function (data) {
console.log(data)  // `data` is the return of the `load_cities` view function
$("#id_tank").html(data);  // replace the contents of the city input with the data that came from the server
}});});
</script>
            {% endblock %}
