{% extends 'app/base.html' %}
{% block content %}

<!-- Start of body content -->

<!-- Start of Page Header -->
<div class="bar"><div class="heading">LINE MONITORING</div></div>
<!--End of Page Header -->



<!-- Start of Station Form -->
<div class="container custom1" style="margin-top: 1.5%;">
<div class="cform2">
  <form method="POST">{% csrf_token %}
  <div class="form-group row" style="margin-left:0 auto 0;">



    <div class="col-xs-1"  style="width:15%;">
      <label>SKU</label>
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
      {{ form.SKU.errors }}
      {{ form.SKU }}
      </div>
    </div>


  <div class="col-xs-2"style="width:15%;">
  <label>Station 1</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn1.errors }}
  {{ form.stn1 }}
  </div></div>

  <div class="col-xs-2" style="width:15%;">
  <label>Station 2</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn2.errors }}
  {{ form.stn2 }}
  </div></div>

  <div class="col-xs-2" style="width:15%;">
  <label>Station 3</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn3.errors }}
  {{ form.stn3 }}
  </div></div>

  <div class="col-xs-2" style="width:15%;">
  <label>Station 4</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn4.errors }}
  {{ form.stn4 }}
  </div></div>

  <div class="col-xs-2" style="width:15%;">
  <label>Station 5</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn5.errors }}
  {{ form.stn5 }}
  </div></div>


  </div>


  <div class="form-group row" style="margin-left:0 auto 0;">


    <div class="col-xs-2"  style="width:15%;font-size:18px; font-weight:bold; text-align:center; margin-top:5px; color:white">
    TAKT Times<br>
    (in sec) :
    </div>



  <div class="col-xs-1"style="width:15%;">
  <label>Station 6</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn6.errors }}
  {{ form.stn6 }}
  </div></div>

  <div class="col-xs-1" style="width:15%;">
  <label>Station 7</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn7.errors }}
  {{ form.stn7 }}
  </div></div>

  <div class="col-xs-1" style="width:15%;">
  <label>Station 8</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn8.errors }}
  {{ form.stn8 }}
  </div></div>

  <div class="col-xs-1" style="width:15%;">
  <label>Station 9</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn9.errors }}
  {{ form.stn9 }}
  </div></div>

  <div class="col-xs-1" style="width:15%;">
  <label>Station 10</label>
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
  {{ form.stn10.errors }}
  {{ form.stn10 }}
  </div></div>

    <div class="col-xs-2"  style="width:10%; text-align:center; margin-top:-1.3%;">
    <button type="submit" class="btn-sub">Add New</button>
    </div>

  </div>
  </form>
</div>
</div>
<!-- End of Station Form -->



<!-- Start of Content Header -->

<div class="container" style="margin-top: 0px;"><div class="heading1">
SKU STATION TAKT TIMES
</div></div>

<!-- End of Content Header --->



<div class="container" style="text-align:center; padding:30px;">
<div class="Sel">
<div class="form-group row">
<div class="col-xs-2" style="width:70%">
Select SKU: <input class="form-control" type='text' id='Stn'>
</div>

<div class="col-xs-2" style="width:30%; margin-top:20px;">
 <button type="submit" class="btn-sub" style="width:75px">Show</button>
</div>

</div>
  </div>
</div>


<!--Image-->
<div class="container" style=" position:relative; margin-bottom:30px;">
<img src="../static/line.PNG">
<div id="iblock1" class="iblock1">
Stn 1:<br><div id="stn1">
Null</div>
</div>
<div id="iblock2" class="iblock2">
Stn 2:<br><div id="stn2">
Null</div>
</div>
<div id="iblock3" class="iblock3">
Stn 3:<br><div id="stn3">
Null</div>
</div>
<div id="iblock4" class="iblock4">
Stn 4:<br><div id="stn4">
Null</div>
</div>
<div id="iblock5" class="iblock5">
Stn 5:<br><div id="stn5">
Null</div>
</div>
<div id="iblock6" class="iblock6">
Stn 6:<br><div id="stn6">
Null</div>
</div>
<div id="iblock7" class="iblock7">
Stn 7:<br><div id="stn7">
Null</div>
</div>
<div id="iblock8" class="iblock8">
Stn 8:<br><div id="stn8">
Null</div>
</div>
<div id="iblock9" class="iblock9">
Stn 9:<br><div id="stn9">
Null</div>
</div>
<div id="iblock10" class="iblock10">
Stn 10:<br><div id="stn10">
Null</div>
</div>
</div>

<!--Image-->



<!-- Start of Bottom area(Nav Bar & Ticker) Code -->
<div class="bot bpad">



<!-- Start of Info Ticker Code-->
<div class="container custom1">
<div class="blpanel">
<marquee id="ticker" behavior="scroll" direction="left">{{data|default:"No Alerts to show"}}</marquee>
</div>
</div>
<!-- End of Info Ticker Code -->



<!-- Start Nav Bar Code -->
<div class="btn-group-1">
  <a href="{% url 'Configuration' %}"><button class="cbtns1">CONFIGURATION</button></a>
  <a href="{% url 'Production' %}"><button class="cbtn1">PRODUCTION PLAN</button></a>
  <a href="{% url 'Sequence' %}"><button class="cbtn1">ORDER MONITORING</button></a>
  <a href="{% url 'Line' %}"><button class="cbtn1" style="background-color:#424100;">LINE MONITORING</button></a>
  <a href="#"><button class="cbtn1">MACH MONITORING</button></a>
  <a href="#"><button class="cbtn1">HOLD LOG</button></a>
  <a href="#"><button class="cbtn1">WORK IN PROGRESS</button></a>
  <a href="#"><button class="cbtne1">HELP</button></a>
</div>
<div class="btn-group-2">
  <a href="#"><button class="cbtns2">PROCESS</button></a>
  <a href="#"><button class="cbtn2" style="background-color:navy;">PRODUCTION</button></a>
  <a href="#"><button class="cbtn2">MATERIAL</button></a>
  <a href="#"><button class="cbtn2">TRACK & TRACE</button></a>
  <a href="#"><button class="cbtn2">QUALITY</button></a>
  <a href="#"><button class="cbtn2">MAINTENANCE</button></a>
  <a href="#"><button class="cbtn2">PERFORMANCE</button></a>
  <a href="#"><button class="cbtne2">WORKFORCE MGMT</button></a>
</div>
<!-- End of Nav Bar Code-->



</div>
<!-- End of Bottom Area Code -->

{% endblock %}
{% block javascript %}
<script>
var sku;
  $("#Stn").change(function () {
    sku = $(this).val();
    $.ajax({
      url: '/ajax/populate/',
      data: {'sku': sku},
      success: function (data) {
        $("#stn1").html(data['stn1']);
        $("#stn2").html(data['stn2']);
        $("#stn3").html(data['stn3']);
        $("#stn4").html(data['stn4']);
        $("#stn5").html(data['stn5']);
        $("#stn6").html(data['stn6']);
        $("#stn7").html(data['stn7']);
        $("#stn8").html(data['stn8']);
        $("#stn9").html(data['stn9']);
        $("#stn10").html(data['stn10']);
        $("#ticker").html(data['Output']);
}});});
</script>
{% endblock %}
