{% extends 'app/base.html' %}
{% block content %}
<!--Start of body content -->
<!--Start of Header-->
<div class="bar"><div class="heading">Order Monitoring</div></div>
<!--End of Header -->


<div class="container" style="margin-top: 25px;"><div class="heading2">
CURRENT SEQUENCE
</div></div>


<div class="container">
<div class="card" style="height:540px; margin-left:0%; margin-right:0%; background-color:#696969; color:white; margin-top:15px; border:solid white 2px;">
<div class="card-body">
 <div class="table-wrapper-2" style="height:535px;" >
<table class="table table-responsive-md table-bordered">
<thead class="mdb-color lighten-4" style="background-color:#101669 !important; color:white !important;">
<tr>
<th class="th-lg">Order ID</th>
<th class="th-lg">SKU</th>
<th class="th-lg">Model</th>
<th class="th-lg">Variant</th>
<th class="th-lg">Color</th>
<th class="th-lg">Tank</th>
<th class="th-lg">Status</th>
</tr>
</thead>
<tbody>
<tr>
{% for key,value in Sequence3 %}
<td>OR_{{ key }}</td>
{% for value in value %}
<td>{{ value.SKU }}</td>
<td>{{ value.model }}</td>
<td>{{ value.variant }}</td>
<td>{{ value.color }}</td>
<td>{{ value.tank }}</td>
<td>Running/On Hold</td>
{% endfor %}
</tr>
{% endfor %}
</tbody></table>
</div></div></div>
</div>

<div class="container">
<div style="text-align:center; margin-top:10px;">
<button type="" class="btn-sub" style="">Optimize</button>
<button type="" class="btn-sub" style="margin-left:20px;">Resequence</button>
</div>
</div>

<!--

<div class="container" style="margin-top: 10px;"><div class="heading2" style=" background-color:black;">
NEW SEQUENCE
</div></div>

<div class="container">
<div class="card" style="height:240px; margin-left:0%; margin-right:0%; background-color:#696969; color:white; margin-top:10px; border:solid white 2px;">
<div class="card-body"style="height:240px;">
 <div class="table-wrapper-2"style="height:240px;">
<table class="table table-responsive-md table-bordered">
<thead class="mdb-color lighten-4" style="background-color:#101669 !important; color:white !important;">
<tr>
<th class="th-lg">Order ID</th>
<th class="th-lg">SKU</th>
<th class="th-lg">Model</th>
<th class="th-lg">Variant</th>
<th class="th-lg">Color</th>
<th class="th-lg">Tank</th>
</tr>
</thead>
<tbody>
<tr>
{% for key,value in Sequence2 %}
<td>OR_{{ key }}</td>
{% for value in value %}
<td>{{ value.SKU }}</td>
<td>{{ value.model }}</td>
<td>{{ value.variant }}</td>
<td>{{ value.color }}</td>
<td>{{ value.tank }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody></table>
</div></div></div>


-->

<div class="bot bpad">
<div class="container custom1">
<div class="blpanel">
<marquee behavior="scroll" direction="left">No Alerts to show</marquee>
</div>
</div>


<div class="btn-group-1">
  <a href="{% url 'form1' %}"><button class="cbtns1">CONFIGURATION</button></a>
  <a href="{% url 'form2' %}"><button class="cbtn1">PRODUCTION PLAN</button></a>
  <a href="{% url 'sequence' %}"><button class="cbtn1"  style="background-color:#424100;">ORDER MONITORING</button></a>
  <a href="{% url 'Line' %}"><button class="cbtn1">LINE MONITORING</button></a>
  <a href="#"><button class="cbtn1">MACH MONITORING</button></a>
  <a href="#"><button class="cbtn1">HOLD LOG</button></a>
  <a href="#"><button class="cbtn1">WORK IN PROGRESS</button></a>
  <a href="#"><button class="cbtne1">HELP</button></a>
</div>
<div class="btn-group-2">
  <a href="#"><button class="cbtns2"><a href="#">PROCESS</button></a>
  <a href="#"><button class="cbtn2" style="background-color:navy;"><a href="#">PRODUCTION</a></button></a>
  <a href="#"><button class="cbtn2"><a href="#">MATERIAL</a></button></a>
  <a href="#"><button class="cbtn2"><a href="#">TRACK & TRACE</a></button></a>
  <a href="#"><button class="cbtn2"><a href="#">QUALITY</button></a>
  <a href="#"><button class="cbtn2"><a href="#">MAINTENANCE</button></a>
  <a href="#"><button class="cbtn2"><a href="#">PERFORMANCE</button></a>
  <a href="#"><button class="cbtne2"><a href="#">WORKFORCE MGMT</button></a>
</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
